@use "../../styles/mixin.scss" as mixin;

//// Usage: only for botton horizontal bar
.header_root {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform-style: preserve-3d;
    /* add this line to center horizontally */

    /* add this line to center horizontally */



    &__bottomBar {
        margin: 0 auto;
        margin-top: 10px;
        width: 25vw;
        height: 5px;
        background-color: mixin.$tertiary;
        border-radius: 5px;
        transition: 0.4s;
        // opacity 0.2s;
        // z-index: -200;
        animation: blinking 1.2s infinite;
        animation-timing-function: cubic-bezier(.17, .67, 1, 1.23);
    }
}

@keyframes blinking {
    0% {
        opacity: 0.6;
    }

    // 15% {
    //     background-color: mixin.$primary;

    // }

    50% {
        opacity: 0.3;

    }



    100% {
        opacity: 0.8;

    }
}


.section_header {


    height: 450px;
    font-family: mixin.$fontFamily400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: mixin.$primary;
    transition: 0.3s ease-in-out; // z-index: 1000;

    &:hover {

        background-color: mixin.$primary_80_transparent;

    }

    &__header {
        position: fixed;
        z-index: 9999;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0);

        transition:
            background-color 0.1s ease-in,

            top 0.3s ease-in-out;



        &__dropnav {
            position: absolute;
            width: 10%;
            // width: 150px;
            min-width: 300px;
            background-color: mixin.$primary_95_transparent;
            border-bottom-right-radius: 28px;
            border-bottom-left-radius: 28px;
            color: mixin.$primary_text_color;
            display: flex;
            justify-content: space-between;
            height: 100%;
            overflow: hidden;
            // z-index: 9999;




            transition: top 0.45s ease,
                border-top-left-radius 0.11s ease-in-out,
                border-top-right-radius 0.11s ease-in-out,
                background-color 0.5s,
                // border 1.4s ease-in-out,
                box-shadow 0.4s ease,
                border 0.27s ease;
            ;



            &__navElement {
                transition: .2s ease;

                flex: 1;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                position: relative;
                cursor: pointer;





                display: flex;
                justify-content: center;
                align-items: center;


                &:hover {
                    // background-color: mixin.$quaternary;
                    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                }

                &__text {
                    font-family: mixin.$fontFamily400;
                    font-size: small;
                    // color: mixin.$tertiary;  
                    pointer-events: none;
                    user-select: none;
                }

                &__stripe {
                    position: absolute;
                    right: 0;
                    width: 1px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: mixin.$quaternary;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }


}